.brand {
  height: 2rem;
  width: 2.25rem;
  background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io//images/scr_logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
