// 616161; blue
// 1e0ec3; secondary
//color: rgb(245, 51, 38); red
//color: rgb(254, 255, 26); yellow
$app-primary: (
  50: #e0e0e0,
  100: #303030,
  200: #202020,
  300: #101010,
  400: #050505,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$app-accent: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-old-primary: (
  50: #ececec,
  100: #d0d0d0,
  200: #b0b0b0,
  300: #909090,
  400: #797979,
  500: #616161,
  600: #595959,
  700: #4f4f4f,
  800: #454545,
  900: #333333,
  A100: #f39595,
  A200: #ee6868,
  A400: #f53326,
  A700: #ff0a0a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$app-old-accent: (
  50: #e4e2f8,
  100: #bcb7ed,
  200: #8f87e1,
  300: #6256d5,
  400: #4032cc,
  500: #1e0ec3,
  600: #1a0cbd,
  700: #160ab5,
  800: #1208ae,
  900: #0a04a1,
  A100: #cccbff,
  A200: #9a98ff,
  A400: #6865ff,
  A700: #4f4cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$app-warn: (
  50: #fee7e5,
  100: #fcc2be,
  200: #fa9993,
  300: #f87067,
  400: #f75247,
  500: #f53326,
  600: #f42e22,
  700: #f2271c,
  800: #f02017,
  900: #ee140d,
  A100: #ffffff,
  A200: #ffe6e5,
  A400: #ffb4b3,
  A700: #ff9b99,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-green: (
  50: #eaf5ea,
  100: #c9e7cb,
  200: #a6d7a8,
  300: #82c785,
  400: #67bb6a,
  500: #4caf50,
  600: #45a849,
  700: #3c9f40,
  800: #339637,
  900: #248627,
  A100: #c5ffc7,
  A200: #92ff95,
  A400: #5fff64,
  A700: #46ff4b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
