
.preview-viewport {
  height: 14rem;

  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 0;
    padding: .5rem;
    align-items: flex-start;
  }

  .item {
    //align-self: flex-start;
    padding: .5rem;
    margin-right: 1rem;
  }

  .item-preview {
    width: 16rem;
    height: 9rem;
    //background: aqua;
    position: relative;
    background-image: url("../../assets/brand/brand-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .item-trigger,
    .air-date {
      position: absolute;
      bottom: 0;
    }

    .air-date {
      background: gray;
      padding: 0 .25rem;

    }

    .item-trigger {
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .mat-h4 {
    margin: 0;
  }
}


