@import "~src/theming";

cdk-virtual-scroll-viewport {
  height: 13rem;
  background-image: url('../../assets/brand/brand-bg.jpg');
  background-repeat: repeat;
  background-size: auto;
  .item {
    width: 16rem;
    height: 100%;
    background-color: mat-color($scradio-background, app-bar);
    padding: 0;
    color: white;
    text-align: left;
  }

  .item-preview {
    width: 16rem;
    height: 9rem;
    position: relative;
    background-image: url("../../assets/brand/brand-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .air-date {
      position: absolute;
      display: inline-flex;
      min-height: 1rem;
      bottom: 0;
      background: gray;
      padding: 0 .25rem;
      vertical-align: middle;
      //> div {
      //  margin: auto;
      //}
      mat-icon {
        color: map-get($app-warn, 500);
      }
    }
    .item-trigger {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
    }
  }
  .label-container {
    padding-left: .5rem;
  }

  .mat-h4 {
    margin: 0;
  }

  .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity linear 0.2s;
    mat-icon {
      font-size: 3rem;
    }
  }

  .item:hover .overlay {
    opacity: 1;
  }
  [role='button']:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}


