<div class="landing-container" class="mat-typography">
  <div style="width: 100%">
    <img src="../../../../assets/featured.png" class="featured-img" alt="" />
  </div>

  <div class="featured-container">
    <div class="featured-header">
      <h2 class="mat-h1 ">LATEST SHOWS</h2>
      <p>Check out Seoul Community Radio's latest shows</p>
    </div>
    <div class="featured-img-wrapper">
      <mat-card *ngFor="let video of videos$ | async">
        <div class="video-wrapper img">
          <div
            class="img video-container featured-img"
            [ngStyle]="{ 'background-image': 'url(' + video.thumbnail_240_url + ')' }"
          ></div>
          <button class="featured-overlay" (click)="startStream(video)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
        <mat-card-content>
          <h3>
            {{ video.title }}
          </h3>
        </mat-card-content>
        <!--        <mat-card-actions>-->
        <!--          <button mat-button>LISTEN</button>-->
        <!--          <button mat-button>SHARE</button>-->
        <!--        </mat-card-actions>-->
      </mat-card>
    </div>
  </div>
</div>
