<div class="landing-container">
  <div class="video-wrapper">
    <div class="video-container">
      <iframe
        frameborder="0"
        src="https://www.dailymotion.com/embed/video/x7c3uvq"
        allowfullscreen
        allow="autoplay"
      ></iframe>
    </div>
  </div>
  <div class="featured-container">
    <h2 class="flush">Featured</h2>
    <div class="featured-img-wrapper">
      <button mat-icon-button class="slide-control left">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div class="featured-img img-1"></div>
      <div class="featured-img img-2"></div>
      <div class="featured-img img-3"></div>
      <button mat-icon-button class="slide-control right">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="featured-container updates">
    <h2 class="flush">Updates</h2>
    <div class="featured-img-wrapper">
      <button mat-icon-button class="slide-control left">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div class="featured-img img-1"></div>
      <div class="featured-img img-2"></div>
      <div class="featured-img img-3"></div>
      <button mat-icon-button class="slide-control right">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
