$bg-contrast-color: rgba(#4f4f4f, 0.7);

h2.flush {
  margin-bottom: 0;
}

.scr-toolbar {
  background-color: transparent;
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr;
  z-index: 99;
  //grid-template-columns: repeat(12, 1fr);
  transition: ease-in-out 300ms;
  &.scrolled {
    background-color: $bg-contrast-color;
  }
}

.brand-container {
  margin: auto;
}

.brand {
  //grid-column: 5/7;
  height: 2rem;
  width: 2.25rem;
  background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io//images/scr_logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //position: absolute;
  //left: calc(50% - 1.125rem);
}

.content {
  overflow-y: auto;
  position: relative;
  height: 100vh;
}

.carousel-container {
  //display: grid;
  min-height: 100vh;
  //grid-template-rows: 1fr;
  position: relative;

  .overlay {
    height: 100%;
    position: relative;
    //background-image: linear-gradient(to right top, #051937, #004d7a);
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        22deg,
        rgba(5, 25, 55, 0.6) 44%,
        rgba(0, 77, 122, 0.1) 55%,
        transparent 61%,
        transparent 100%
      );
    }
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(5, 25, 55, 0.5) 0%,
        rgba(0, 77, 122, 0.2) 13%,
        transparent 33%,
        transparent 100%
      );
      //background: linear-gradient(180deg, rgba(5, 25, 55, 0.8) 0%, rgba(0, 77, 122, 0.3) 21%, transparent 38%, transparent 100%);;
      //background: linear-gradient(180deg, rgba(#051937, .5) 2%, rgba(0, 77, 122, 0.3) 9%, transparent 38%, transparent 100%);
      //background: linear-gradient(170deg, #051937 5%, rgba(0, 77, 122, 0.3) 11%, transparent 15%, transparent 100%)
    }
  }
}

.carousel-img {
  display: none;
  transition: ease-in-out 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &.img-1 {
    background-image: url('http://i.imgur.com/w3uPu.jpg');
    background-size: cover;
    background-position: center;
    //grid-column: 1;
    //grid-row: 1;
  }
  &.active {
    display: block;
  }

  .info {
    color: white;
    position: absolute;
    bottom: 200px;
    padding: 1rem;
    max-width: 70%;
  }
}

.featured-container {
  margin-top: -100px;
  position: relative;
  padding: 1rem;
  color: white;
}
.featured-img-wrapper {
  display: flex;
  flex-wrap: nowrap;
  //grid-template-columns: 1fr 1fr 1fr;
}

.slide-control {
  position: absolute;
  top: calc(50% - 1rem);
  background-color: $bg-contrast-color;
  mat-icon {
    padding: 0 0.75rem;
    margin-top: -0.125rem;
  }

  //color: black;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.featured-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  flex-grow: 1;
  &.img-1 {
    background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img//YUZO.png');
  }
  &.img-2 {
    background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img//shock%20shock.jpeg');
  }
  &.img-3 {
    background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img//AHPM%20&%20SLPM.png');
  }
}
.featured-container.updates {
  margin-top: -2rem;
  .featured-img {
    &.img-1 {
      background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img/news01.png');
    }
    &.img-2 {
      background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img//Baltra-530x328.jpg');
    }
    &.img-3 {
      background-image: url('https://gftfc5lwyu-mrg.preview.forestry.io/img//Alley-Sound.png');
    }
  }
}
