<cdk-virtual-scroll-viewport orientation="horizontal" itemSize="280">
  <div *cdkVirtualFor="let item of items; let i = index" class="mr-3 p-4">
    <button (click)="playItem(item)" class="item rounded bordered">
      <div class="item-preview" [style.backgroundImage]="'url(' + item.show.imageUrl + ')'">
        <div class="overlay" fxLayout fxLayoutAlign="center stretch">
          <div role="button" fxFlex fxLayoutAlign="center center">
            <mat-icon>play_arrow</mat-icon>
          </div>
        </div>
        <div class="air-date rounded-tl" fxLayout fxLayoutAlign="space-between center">
          <div *ngIf="!item.episode.onAir">
            {{ item.episode.airDate | date: 'dd-MM-yy' }}
          </div>
          <ng-container *ngIf="item.episode.onAir">
            <mat-icon>wifi_tethering</mat-icon>
            <div>On-air</div>
          </ng-container>
        </div>
      </div>
      <div class="label-container">
        <div class="mat-h4" id="preview-{{ item.show.id }}-{{ i }}">
          <span class="sr-only">Show: </span>
          {{ item.show.label }}
        </div>
        <div class="mat-small" id="preview-{{ item.episode.id }}-{{ i }}">
          <span class="sr-only">Episode: </span>
          {{ item.episode.label }}
        </div>
      </div>
    </button>
  </div>
</cdk-virtual-scroll-viewport>
