@import 'styles/theming';
@import 'src/styles/structural';
@import 'styles/fonts';
//* {
//  font-family: "DIN Alternate", Roboto, 'Helvetica Neue', sans-serif !important;
//}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.preview {
  width: 16rem;
  height: 9rem;
}

.rounded {
  overflow: hidden;
  border-radius: 0.25rem;
}
.rounded-tl {
  overflow: hidden;
  border-top-right-radius: 0.25rem;
}

.bordered {
  border: mat-color($app-primary, 300) solid 1px;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); // IE 6 and 7
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.no-padding {
  .mat-dialog-container {
    padding: 0;
  }
}

.divider {
  width: calc(100% - 2rem);
  margin: auto;
  border: 1px #ff3000 solid;
  border-radius: 1px;
}

.show-xl {
  display: none;
}

.show-gt-sm {
  display: none;
}

// xl
@media all and (max-width: 1690px) {
  .show-xl {
    display: inherit;
  }
}

// lg
@media all and (max-width: 1280px) {
}

// md
@media all and (max-width: 980px) {
}

// sm
@media all and (max-width: 736px) {
}
// gt-sm
@media all and (min-width: 736px) {
  .show-gt-sm {
    display: inherit;
  }
}

// xs
@media all and (max-width: 480px) {
}
