@import './theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.preview {
  width: 16rem;
  height: 9rem
}

.rounded {
  overflow: hidden;
  border-radius: .5rem;
}

.bordered {
  border: mat-color($app-primary, 300) solid 1px;
}
